<html>
<head>
<% var title = 'test' %>
</head>



<body>
<!--
<h1>Yo!</h1>
<form action = "/administration" method = "POST">
  <p>
	
    <input type="text" name = "login">
    <input type="submit" value="login">
  </p>
</form>
-->

<form action="/a" method="POST">
	<input type="submit" value="acceder a la liste des bots">
</form>
<form action = "/reply" method="GET">
	<input type = "submit" value = "parler avec le bot">
</form>
</body>

