<html>
<head>
<% var title = 'test' %>
</head>



<body>
<h1>ChatBot</h1>
<form action ="/" method="Post">
	<input type="text" name="chatbot" value = "hi" >
</form>
<form action = "/bot_chat" method = "post">
  <p>
    <input type="text" name="message">
    <input type="submit" value="envoyer le message">
  </p>
</form>
</body>
