<html>
<head>
</head>

 <%=reply%>
<br>
	<input type = "text" id = "usermessage" name = "usermessage" required>
	
	
	<input type = "submit" value = "envoyer le mesage" onclick = "valider()">
<br>

<form action = "/" method = "GET">
	<input type = "submit" value = "retour a l'acceuil">
</form>
<script>
	function valider(){
		var text = document.getElementById('usermessage').value;
		window.location.href = '/reply/'+text;


}
</script>


</body>

