<html>
<head>
<% var title = 'test' %>
</head>



<body>
<h1>valider</h1>
<form method="POST" action="/acceuil">
   <p>
	<label>cette tache est-elle correcte ? :  </label>
	
	<input type = "submit" value = "confirmer">
   </p>
</form>
</body>
</html>

