<html>
<head>
<% var title = 'test' %>
</head>



<body>
<h1>valider</h1>
<form method="POST" action="/valider">
   <p>
	<input type = "hidden" name = "id" value = "<%=id>" > 
	<input type = "submit" value = "valider">
   </p>
</form>
</body>
</html>

