<html>
<head>
<% var title = 'test' %>
</head>



<body>
<h1>Yo!</h1>
<form action = "/administration" method = "POST">
  <p>
	
    <input type="text" name = "login">
    <input type="submit" value="login">
  </p>
</form>
</body>
