<html>
<head>
<% var title = 'test' %>
</head>



<body>
<h1>Bonjour <%=login%> </h1>
<form action = "/creer_bot" method = "GET">
  <p>
    <input type="submit" value="creer un bot">
  </p>
</form>
<form action = "/delete_bot" method = "GET">
  <p>
    <input type="submit" value="supprimer un bot">
  </p>
</form>
<form action = "/gerer_bot" method = "GET">
  <p>
    <input type="submit" value="gerer un bot">
  </p>
</form>

</body>
