<html>
<head>
<% var title = 'test' %>
</head>



<body>
<h1>creation du bot </h1>
<form action = "/valider_bot" method = "POST">
  <p>
nom du bot:    <input type = "text" name = "nom">
</p>
<p>
id du bot :    <input type = "text" name = "id">
</p>
<p>
nom du fichier cerveau :    <input type = "text" name = "brain">
    <input type="submit" value="creer le bot">
  </p>
</form>


</body>
