<html>
<head>
<% var title = 'test' %>
</head>



<body>
<h1>tache</h1>
<form method="POST" action="/validation">
   <p>
    <label>id de la tache :</label>
    <input type="text" name="id" required>
  </p>
  <p>
    <label>nom de la tache :</label>
    <input type="text" name="title" required>
  </p>
  <p>
    <label>date de debut :</label>
    <input type="text" name="dateBegin" required>
  </p>
  <p>
    <label>date de fin :</label>
    <input type="text" name="dateEnd" required>
  </p>
  <p>
    <label>statut :</label>
    <input type="text" name="statut" required>
  </p>
  <p>
    <label>tags :</label>
    <input type="text" name="tags" required>
  </p>
  <p>
    <input type="submit" value="valider">
  </p>
</form>
<form action="/" method ="GET">
  <p>
    <input type="submit" value="retour">
  </p>
</form>
</body>
</html>

